<%- include("../includes/header.ejs", {title:"Wine - All"}); %>

<h1 align="center">All Wines</h1>

    <br />

<p align="center"><u>Here is all the information stored in the database about each Wine:</u></p>
        <table align="center" border="1">
            <tr><th>~ Winery Name</th><th>~ Varietal</th><th>~ Vintage</th><th>~ Type</th><th>~ Location</th></tr>
            <col width="220">
            <col width="150">
            <col width="75">
            <col width="75">
            <col width="115">
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td align="center"><%= result[i].winery_name %></td>
                <td align="center"><%= result[i].variety_name %></td>
                <td align="center"><%= result[i].vintage %></td>
                <td align="center"><%= result[i].type %></td>
                <td align="center"><%= result[i].area_name %></td>
            </tr>
            <% } %>
        </table>

    <br />
    <a href="/wine/add">Add a New Wine to the Database</a> <br />

<br />
<br />
<a href="/"><p style="text-align:center">~ Back to Home ~</p></a>


<%- include("../includes/footer.ejs"); %>