<%- include("../includes/header.ejs", {title:"Wine - All"}); %>

<h1 align="center">All Wines</h1>

    <br />

<p align="center"><u>Here is all the information stored in the database about each Wine:</u></p>
        <table align="center" border="1">
            <tr><th>~ Winery Name</th><th>~ Varietal</th><th>~ Vintage</th><th>~ Type</th><th>~ Location</th><th>~ Actions</th></tr>
            <col width="200">
            <col width="140">
            <col width="75">
            <col width="75">
            <col width="115">
            <col width="190">
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td align="center"><%= result[i].winery_name %></td>
                <td align="center"><%= result[i].variety_name %></td>
                <td align="center"><%= result[i].vintage %></td>
                <td align="center"><%= result[i].type %></td>
                <td align="center"><%= result[i].area_name %></td>
                <td align="center">
                    <button onclick="event.preventDefault();window.location.href='/wine/edit/?wine_id=<%= result[i].wine_id %>'">Edit Info</button>
                     ~
                    <form action="/wine/delete/" style="display:inline;" onclick="return confirm('Are you sure you want to delete <%= result[i].winery_name %>, <%= result[i].variety_name %> from the database?');" >
                        <input type="hidden" name="wine_id" id="wine_id" value="<%= result[i].wine_id %>" />
                        <input type="submit" value="Delete Entry"/>
                    </form>
                </td>
            </tr>
            <% } %>
        </table>


    <br />
    <a href="/wine/add"><p style="text-align:center">Add a New Wine to the Database</p></a>

    <a href="/"><p style="text-align:center">~ Back to Home ~</p></a>

<%- include("../includes/footer.ejs"); %>